<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web based Loan Calculator</title>
    <meta name="description" content="Web based Loan Calculator">
    <meta name="author" content="Jacky Shew">

    <link rel="stylesheet" href="~/css/site.css">

</head>

<body>
    <div id="homepage"></div>
    <script src="~/js/dist/Homepage.bundle.js"></script>
</body>
</html>